main form.form {
    display: flex;
}

main form.form input[type=search] {
    width: 1000px;
    border-right: 0;
}

main form.form input[type=search]:focus {
    border-right: 0;
}

main form.form > button {
    padding: 10px 20px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
}