main .details {
    display: flex;
}

main .details img {
    justify-content: center;
    height: 290px;
}

main .details .info {
    margin-left: 40px;
}

main .details p {
    margin: 10px 0;
}

main .details p.title {
    margin-top: 0;
    font-size: 20px;
    color: var(--color-primary);
    font-weight: bold;
}

main .details p.subtitle {
    color: var(--color-silver-strong);
    font-size: 16px;
}

main .details p.price {
    color: var(--color-green);
    font-size: 20px;
}

main .details .credit-card {
    display: flex;
    justify-content: left;
    align-items: center;
}

main i.icon-credit-card {
  display: block;
  width: 40px;
  height: 30px;
  background-size: 75%;
  background-repeat: no-repeat;
  background-image: url('../imgs/credit_card.svg');
}

main .details .plots {
    margin: 0;
    margin-bottom: 10px;
}

main .details .buttons {
    max-width: 300px;
}

main .details button {
    padding: 10px 0px;
    margin-top: 10px;
    width: 140%;
}

main .description {
    margin-top: 100px;
    margin-bottom: 100px;
}

main .description div {
    margin-top: 50px;
}

main .description table tr {
    border-bottom: 1px solid var(--color-silver);
}

@media(max-width: 1000px) {
    main .details img {
        height: 300px;
    }
}

@media(max-width: 700px) {
    main .details img {
        height: 295px;
    }

    main .details button {
        width: 100%;
    }

    main .description {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media(max-width: 550px) {
    main .details .info {
        margin-left: 20px;
    }
}

@media(max-width: 440px) {
    main .details {
        flex-direction: column;
    }
    
    main .details img {
        align-self: center;
        width: 200px;
        margin-bottom: 20px;
    }

    main .details .info {
        margin-left: 0;
    }

    main .details .buttons {
        max-width: none;
    }
}