header {
  height: 100px;
  background-color: var(--color-primary);
}

header nav {
  background-color: transparent;
  box-shadow: none;
  line-height: 100px;
  max-width: 1000px;
  height: 100px;
  margin: auto;
}

header i.icon-user, header i.icon-cart, header i.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 75%;
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
}

header i.icon-user {
  left: 7px;
  background-image: url('../imgs/user.svg');
}

header i.icon-cart {
  background-image: url('../imgs/cart.svg');
}

header i.icon-menu {
  background-image: url('../imgs/menu.svg');
}

header i.icon-arrow {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  left: 10px;
  filter: invert();
  background-size: 75%;
  background-repeat: no-repeat;
  background-image: url('../imgs/arrow_down.svg');
}

header i.icon-arrow:hover {
  filter: invert();
}

header a.p-right {
  padding-right: 0px;
}

header ul li .active, header ul li a:hover {
  color: var(--text-active);
  background-color: transparent;
}

header i:hover, header a.active i {
  filter: brightness(2);
}

/* LINKS */
header nav.nav-secondary {
  max-width: 100%;
  font-size: .95rem;
  line-height: 50px;
  height: 50px;
  background-color: var(--color-secondary);
}

header nav.nav-secondary div.links {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

header nav.nav-secondary div.links a:hover {
  opacity: 0.8;
}

/* MOBILE */
header nav .mobile {
  display: none;
}

header nav a.brand-logo {
  top: -2px;
  left: 5px;
}

header ul.side-nav {
  width: 250px;
  background-color: var(--color-primary);
}

header nav ul a, header ul.side-nav a {
  color: var(--text-silver);
}

header ul.side-nav a.active, header ul.side-nav a:hover {
  color: var(--text-active);
  background-color: var(--color-secondary);
}

/* DROPDOWN */
header nav .dropdown, header nav .dropdown-login {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

header nav .dropdown {
  background-color: var(--color-secondary);
  min-width: 160px;
}

header nav .dropdown-login {
  margin-top: 20px;
  background-color: var(--color-primary);
  min-width: 80px;
  line-height: 70px;
}

header nav .dropdown a {
  display: block;
  padding: 12px 16px;
}

header nav #link {
  display: flex;
  justify-content: center;
}

header nav .dropdown a:hover, header nav .dropdown a:active, header nav .dropdown-login a:hover, header nav .dropdown-login a:active {
  color: var(--text-active);
}

header nav .dropbtn:hover .dropdown, header nav .dropbtn:hover .dropdown-login {
  display: block;
}

@media(max-width: 1000px) {
  header nav {
    padding-left: 15px;
    height: 90px;
    line-height: 90px;
  }

  header nav.nav-secondary, header nav .dropdown a, header nav .dropdown-login a {
    font-size: .9rem;
  }

  header ul.hide-on-med-and-down {
    position: relative;
    right: 15px;
  }

  header nav.nav-secondary > div {
    margin-right: 20px;
  }
}

@media(max-width: 992px) {
  html { 
    font-size: 1rem;
  }

  header ul.hide-on-med-and-down {
    display: block !important; 
  }

  header nav a.brand-logo {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media(max-width: 700px) {
  header {
    height: 80px;
  }

  header nav {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    line-height: 80px;
  }

  header nav.nav-secondary {
    display: none;
  }
  
  header ul.hide-on-med-and-down {
    display: none !important;
  }

  header nav a.brand-logo {
    font-size: 1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  header nav .mobile {
    display: block;
    padding: 20px 15px;
  }

  header nav .button-collapse {
    height: 40px;
    margin: 0px;
  }

  header i.icon-cart, header i.icon-menu {
    filter: brightness(2);
    top: 0px;
    left: 5px;
  }

  header i.icon-menu {
    top: 2px;
    filter: invert();
  }
}