header {
  height: 100px;
  background-color: var(--color-primary);
}

header nav {
  background-color: transparent;
  box-shadow: none;
  line-height: 100px;
  max-width: 1000px;
  margin: auto;
}

header i.icon-user, header i.icon-cart, header i.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 75%;
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
}

header i.icon-user {
  left: 7px;
  background-image: url('../imgs/user.svg');
}

header i.icon-cart {
  background-image: url('../imgs/cart.svg');
}

header i.icon-menu {
  background-image: url('../imgs/menu.svg');
}

header a.p-right {
  padding-right: 0px;
}

header nav ul a {
  color: var(--color-silver);
}

header ul li .active, header ul li a:hover {
  color: var(--color-active-text);
  background-color: transparent;
}

header i:hover, header a.active i {
  filter: brightness(2);
}

/* MOBILE */
header nav .mobile {
  display: none;
}

header nav a.brand-logo {
  top: -2px;
  left: 5px;
}

header ul.side-nav {
  width: 250px;
  background-color: var(--color-primary);
}

header ul.side-nav a {
  color: var(--color-silver);
}

header ul.side-nav a.active, header ul.side-nav a:hover {
  color: var(--color-active-text);
  background-color: var(--color-secondary);
}

@media(max-width: 992px) {
  html { 
    font-size: 1rem;
  }

  header ul.hide-on-med-and-down {
    display: block !important;
  }

  header nav a.brand-logo {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media(max-width: 700px) {
  header ul.hide-on-med-and-down {
    display: none !important;
  }

  header nav a.brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  header nav .mobile {
    display: block;
    padding: 30px 20px;
  }

  header nav .button-collapse {
    height: 40px;
    margin: 0px;
  }

  header i.icon-cart, header i.icon-menu {
    filter: brightness(2);
    top: 0px;
    left: 5px;
  }

  header i.icon-menu {
    filter: invert();
  }
}