:root {
    --color-primary: #022B3A;
    --color-secondary: #1F7A8C;
    --color-silver: #777777;
    --color-active-text: #ffffff;
}

@font-face {
  font-family: 'Sen';
  src: url('../fonts/Sen-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sen';
    box-sizing: border-box;
}