{% extends 'index.html' %}
{% use 'components/header.html' %}
{% use 'components/footer.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="public/assets/css/header.css">
<link rel="stylesheet" href="public/assets/css/footer.css">
<link rel="stylesheet" href="public/assets/css/formBook.css">
{% endblock %}
{% block body %}
{% block header %}{{ parent() }}{% endblock %}
<main>
    <form action="{{ base_url }}/addBook" enctype="multipart/form-data" method="POST" class="form">
        <h1>Área administrativa</h1>
        <hr>
        <div class="first">
            <label>Nome: </label>
            <input type="text" class="form-input" name="name" maxlength="50" placeholder="Insira o nome do livro"
            value="{% if form['email']  %}{{ form['name'] }}{% endif %}">
        </div>
        <div>
            <label>Author: </label>
            <input type="text" class="form-input" name="author" maxlength="50" placeholder="Insira o nome do author"
            value="{% if form['email']  %}{{ form['author'] }}{% endif %}">
        </div>
        <div class="row">
            <div class="col s6">
                <label>Quantidade: </label>
                <input type="number" class="form-input" name="amount" placeholder="Ex: 999"
                value="{% if form['email']  %}{{ form['amount'] }}{% endif %}">
            </div>
            <div class="col s6">
                <label>Preço(R$): </label>
                <input type="number" class="form-input" name="price" placeholder="Ex: 24.50"
                value="{% if form['email']  %}{{ form['price'] }}{% endif %}">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label>Idioma: </label>
                <select class="form-input" name="language"
                    value="{% if form['email']  %}{{ form['language'] }}{% endif %}">
                    <option value="">Selecione uma opção...</option>
                    <option value="Português">Português</option>
                    <option value="Inglês">Inglês</option>
                    <option value="Espanhol">Espanhol</option>
                </select>
            </div>
            <div class="col s6">
                <label>Gênero: </label>
                <select class="form-input" name="genre"
                    value="{% if form['email']  %}{{ form['genre'] }}{% endif %}">
                    <option value="">Selecione uma opção...</option>
                    <option value="Ação">Ação</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Drama">Drama</option>
                    <option value="Romance">Romance</option>
                </select>
            </div>
        </div>
        <div>
            <div class="file-field">
                <div class="btn">
                    <span>Imagem</span>
                    <input type="file" name="image" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate form-input" type="text" name="image" placeholder="Carregue uma imagem">
                </div>
            </div>
        </div>
        <div>
            <label>Sinopse:</label>
            <textarea rows="10" name="synopsis" class="form-input" placeholder="Insira seu texto..."
            value="{% if form['email']  %}{{ form['synopsis'] }}{% endif %}"></textarea>
        </div>
        <small>
            {% if error %}{{ error }}{% endif %}
        </small>
        <button type="submit" class="btn-default">Adicionar livro</button>
    </form>
</main>
{% block footer %}{{ parent() }}{% endblock %}
{% endblock%}

{% block javascripts %}{% endblock %}