{% extends 'index.html' %}
{% use 'components/header.html' %}
{% use 'components/footer.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url}}/public/assets/css/header.css">
<link rel="stylesheet" href="{{base_url}}/public/assets/css/footer.css">
<link rel="stylesheet" href="{{base_url}}/public/assets/css/barSearch.css">
<link rel="stylesheet" href="{{base_url}}/public/assets/css/admin.css">
<style>
    .category {
        margin-top: 0;
    }

    main td img {
        height: 100px;
    }

    main td select {
        display: block;
        max-width: 60px;
        border: 2px solid var(--color-silver);
        outline: 0;
        left: -2px;
        position: relative;
    }

    .remove {
        top: 5px;
        left: -2px;
        position: relative;
    }

    tfoot {
        border-top: 1px solid #d0d0d0;
    }

    .value {
        font-size: 1.2rem;
    }
</style>
{% endblock %}

{% block body %}
{% block header %}{{ parent() }}{% endblock %}
<main>
    <div class="category">
        <h1>Seu carrinho de compras!</h1>
        <hr>
        <a href="{{ base_url }}/cart/cancel">
            <button class="btn-default-secondary">Cancelar conta</button>
        </a>
        <a href="#">
            <button class="btn-default"><a href="#">Finalizar compra</a></button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th></th>
                <th>Qtd</th>
                <th>Preço</th>
            </tr>
        </thead>

        <tbody>
            {% for obj in objs %}
            <tr>
                <td><img src="{{base_url}}/{{attribute(obj, 'getImage')}}" alt="{{attribute(obj, 'getName')}}"></td>
                <td>{{attribute(obj, 'getName')}}</td>
                <td>
                    <select class="form-input" name="amount">
                    {% for i in range(1, attribute(obj, 'getAmount')) %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                    </select>
                    <a href="{{base_url}}/cart/delete/{{attribute(obj, 'getId')}}" class="remove">Remover</a>
                </td>
                <td>R$ {{attribute(obj, 'getFormatedPrice')}}</td>
            </tr>
            {% endfor %}
            {%if objs | length == 0 %}
            <tr>
                <td colspan="5" class="not-found">Nenhum livro encontrado.</td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th class="value" colspan="4">Total: R$ {{total}}</th>
            </tr>
        </tfoot>
    </table>
</main>
{% block footer %}{{ parent() }}{% endblock %}
{% endblock%}

{% block javascripts %}{% endblock %}