{% extends 'index.html' %}
{% use 'components/header.html' %}
{% use 'components/footer.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url}}/public/assets/css/header.css">
<link rel="stylesheet" href="{{base_url}}/public/assets/css/footer.css">
<link rel="stylesheet" href="{{base_url}}/public/assets/css/support.css">
{% endblock %}
{% block body %}
{% block header %}{{ parent() }}{% endblock %}
<main>
    <div class="info">
        <h1>Book Point</h1>
        <hr>
        <p id="description">
            Atualmente, a nossa livraria se dedica a oferecer um espaço multimídia, onde a busca pelo produto é apenas o início de uma jornada enriquecedora: nossas lojas dão vida à cultura por meio de seu extenso acervo e também de seus teatros, auditórios, cafés e eventos gratuitos. Venha nos conhecer!
        </p>
        <div>
            <p>Contato: (99) 99999-9999</p>
            <p>E-mail: exemplo@gmail.com</p>
        </div>
    </div>
    <form action="{{base_url}}/support" method="POST" class="form">
        <h1>Caso possua alguma dúvida ou queira relatar um problema</h1>
        <div>
            <label>E-mail:</label>
            <input type="email" name="email" class="form-input" maxlength="255" value="{{ session.email }}" placeholder="Insira seu e-mail">
        </div>
        <div>
            <label>Relate seu problema:</label>
            <textarea rows="10" name="text" class="form-input" placeholder="Insira seu texto..."></textarea>
        </div>
        <button type="submit" class="btn-default">Enviar</button>
    </form>
</main>
{% block footer %}{{ parent() }}{% endblock %}
{% endblock%}

{% block javascripts %}{% endblock %}