{% block header %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{base_url}}/" class="brand-logo">BookPoint</a>
                <div class="mobile left">
                    <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="icon-menu"></i></a>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{base_url}}/" class="{% if route == {{base_url}} ~ '/' %} active {% endif %}">Início</a></li>
                    <li><a href="{{base_url}}/support" class="{% if route == '/support' %} active {% endif %}">Suporte</a></li>
                    <li>
                        <div class="dropbtn">
                            <a href="#"><i class="icon-user"></i></a>
                            {% if session.logged %}
                                <ul class="dropdown-login" {% if session.admin %}style="min-width: 200px;"{% else %}style="min-width: 150px;"{% endif %}>
                                    {% if session.admin %}
                                        <li><a href="{{base_url}}/book" class="{% if route == base_url ~ '/book' %} active {% endif %}">ÁREA ADMINISTRATIVA</a></li>
                                    {% endif %}
                                    <li><a href="{{base_url}}/user/edit/{{session.id}}" class="{% if route == '/user/edit/' ~ session.id %}active{% endif %}">EDITAR PERFIL</a></li>
                                    <li><a href="{{base_url}}/user/loggout">SAIR</a></li>
                                </ul>
                            {% else %}
                                <ul class="dropdown-login">
                                    <li><a href="{{base_url}}/user/login" class="{% if route == '/user/login' %} active {% endif %}">ENTRAR</a></li>
                                    <li><a href="{{base_url}}/user/add" class="{% if route == '/user/add' %} active {% endif %}">CADASTRAR</a></li>
                                </ul>
                            {% endif %}
                        </div>
                    </li>
                    <li><a href="{{base_url}}/car" class="p-right"><i class="icon-cart"></i></a></li>
                </ul>
                <ul class="side-nav" id="menu-mobile">
                    <li><a href="{{base_url}}/" class="{% if route == '/' %} active {% endif %}">INÍCIO</a></li>
                    <li><a href="{{base_url}}/book/search/all">TODAS AS CATEGORIAS</a></li>
                    <li><a href="{{base_url}}/book/search/promotions">MELHORES PROMOÇÕES</a></li>
                    <li><a href="{{base_url}}/book/search/bestSales">MAIS VENDIDOS</a></li>
                    <li><a href="{{base_url}}/book/search/smallPrice">MENOR PREÇO</a></li>
                    <li><a href="{{base_url}}/support" class="{% if route == '/support' %} active {% endif %}">SUPORTE</a></li>
                    {% if session.logged %}
                        {% if session.admin %}
                            <li><a href="{{base_url}}/book" class="{% if route == '/book' %} active {% endif %}">ÁREA ADMINISTRATIVA</a></li>
                        {% endif %}

                        <li><a href="{{base_url}}/user/edit/{{session.id}}" class="{% if route == '/user/edit/' ~ session.id %}active{% endif %}">EDITAR PERFIL</a></li>
                        <li><a href="{{base_url}}/user/loggout">SAIR</a></li>
                    {% else %}
                        <li><a href="{{base_url}}/user/login" class="{% if route == '/user/login' %} active {% endif %}">ENTRAR</a></li>
                        <li><a href="{{base_url}}/user/add" class="{% if route == '/user/add' %} active {% endif %}">CADASTRAR</a></li>
                    {% endif %}
                </ul>
                <div class="mobile right">
                    <a href="{{base_url}}/car"><i class="icon-cart"></i></a>
                </div>
            </div>
        </nav>
        <nav class="nav-secondary">
            <div>
                <div class="links">
                    <div class="dropbtn">
                        <div id="link">
                            <a href="{{base_url}}/option/all">TODAS AS CATEGORIAS</a>
                            <i class="icon-arrow"></i>
                        </div>
                        <ul class="dropdown">
                            <li><a href="{{base_url}}/book/search/ação">AÇÃO</a></li>
                            <li><a href="{{base_url}}/book/search/aventura">AVENTURA</a></li>
                            <li><a href="{{base_url}}/book/search/drama">DRAMA</a></li>
                            <li><a href="{{base_url}}/book/search/romance">ROMANCE</a></li>
                        </ul>
                    </div>
                    <a href="{{base_url}}/book/search/promotions">MELHORES PROMOÇÕES</a>
                    <a href="{{base_url}}/book/search/bestSales">MAIS VENDIDOS</a>
                    <a href="{{base_url}}/book/search/smallPrice">MENOR PREÇO</a>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}